<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>11A3E7D5-3ECD-4F79-8CB8-AAC4269E33CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>testx</string>
			<key>text</key>
			<string>testx</string>
			<key>url</key>
			<string>https://messages.google.com/web/conversations</string>
		</dict>
		<key>31DF1E4D-94F1-40A5-B6C3-40DA3B316BF6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Search StackOverflow for {query}...</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<key>4B4417A6-4B26-4D07-9C5C-3ECF9488D4AC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search GitHub for {query}...</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
		</dict>
		<key>5D1EB8F9-ED4C-465E-AD52-DE1F9D07BBD9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cal</string>
			<key>text</key>
			<string>Open Google Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/u/0/r/week</string>
		</dict>
		<key>8C43D245-785E-443F-8B42-81CB548155B4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm</string>
			<key>text</key>
			<string>Open Google Messages...</string>
			<key>url</key>
			<string>https://messages.google.com/web/conversations</string>
		</dict>
	</dict>
</dict>
</plist>
